.page {
    height: 100vh;
    position: fixed;
    width: 100%;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

.page-enter{
    transform: translateY(10%);
    opacity: 0;
}

.page-enter-active{
    transform: translateY(0);
    opacity: 1;
}

.page-exit-active{
    transform: scale(0.9);
    opacity: 0;
}

